/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');


* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.header {
	width: 100%;
	height: 35px;
	background: #04071C;
	color: #fff;
}

.h-left {
	width: 30%;
	height: 100%;
	float: left;
	padding-left: 10px;
	padding-top: 4px;
}

.h-left span {
	font-size: 1.1em;
}

.h-center {
	width: 40%;
	height: 100%;
	float: left;
	line-height: 30px;
	text-align: center;
	font-size: 1.4em;
	font-weight: bold;
}

.h-right {
	width: 30%;
	height: 100%;
	float: left;
	text-align: right;
	line-height: 35px;
	font-size: 1.1em;
}

.user-icon {
	font-size: 1.2em !important;
	margin-left: 5px;
}

.sub-header {
	width: 100%;
	height: 20px;
	font-size: 1.1em;
	padding-left: 25px;
	padding-top: 3em;
}

.product-menu {
	visibility: hidden;
	position: absolute;
	width: 200px;
	margin-left: 20px;
	margin-top: 10px;
	border-radius: 0.3em;
	list-style: none;
	background: #04071C;
	z-index: 1;
}

.product-menu li {
	padding: 0.5em 1em;
}

.product-menu li a {
	color: #fff;
}

.product-menu li:hover {
	background: #54FFAA;
}

.product-menu li:hover a {
	color: #04071C;
	text-decoration: none;
}

#btn-product-menu {
	cursor: default;
}

.category-menu, .user-menu {
	visibility: hidden;
	position: absolute;
	width: 200px;
	margin-left: 120px;
	margin-top: 10px;
	border-radius: 0.3em;
	list-style: none;
	background: #04071C;
	z-index: 1;
}

.user-menu {
	margin-left: 240px;
}

.category-menu li, .user-menu li {
	padding: 0.5em 1em;
}

.category-menu li a, .user-menu li a {
	color: #fff;
}

.category-menu li:hover, .user-menu li:hover {
	background: #54FFAA;
}

.category-menu li:hover a, .user-menu li:hover a {
	color: #04071C;
	text-decoration: none;
}

#btn-category-menu, #btn-user-menu {
	cursor: default;
}

.account-menu {
	visibility: hidden;
	position: absolute;
	width: 150px;
	margin-left: 230px;
	margin-top: 10px;
	border-radius: 0.3em;
	list-style: none;
	background: #04071C;
	z-index: 1;
}

.account-menu li {
	padding: 0.2em 1em;
	text-align: center;
}

.account-menu li a {
	color: #fff;
}

.account-menu li:hover {
	background: #54FFAA;
}

.account-menu li:hover a {
	color: #04071C;
	text-decoration: none;
}

#btn-account-menu {
	cursor: default;
}

.container-primary {
	margin-top: 2em;
	padding-left: 10px;
}

.table-bordered th {
	background: #e6e6e6;
}

.container-form {
	width: 70%;
	margin-top: 0.5em;
	margin-left: 2em;
	border-top: solid 1px #d8d8d8;
	padding-top: 1em;
}

.options {
	width: 140px;
	font-size: 1.2em;
}

.options a {
	padding: 0 8px;
	color: #04071C;
}

.options a:hover {
	text-decoration: none;
}

.header-login {
	width: 101%;
	height: 40px;
	background: #2f2f2f;
	margin-left: -10px;
	margin-top: -28px;
}

.form-login {
	width: 60%;
	height: 250px;
	margin: 4em auto;
}