<div class="col-lg-12 col-md-12 col-sm-12">
	<h3>CATEGORIAS</h3>
</div>

<div class="col-lg-12 col-md-12 col-sm-12">
	<input type="text" id="search" placeholder="Buscar" style="float: right; margin-bottom: 1em;">

	<table class="table table-bordered" style="margin-top: 1em;">
		<thead>
			<th>ID</th>
			<th>NOME</th>
			<th>ATIVA?</th>
			<th></th>
		</thead>
		<tbody id="table">
			<% @categories.each do |category| %>
			<tr>
				<td><%= category.id %></td>
				<td><%= category.name %></td>
				<td>
					<% if category.active == true %>
						sim
					<% else %>
						não
					<% end %>
				</td>
				<td class="options">
					<%= link_to edit_category_path(category) do %>
						<i class="fa fa-pencil"></i>
					<% end %>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>

<script>
	search_table();
</script>